<header
  *ngIf="showNavbar"
  id="header"
  class="fixed-top"
  [ngClass]="{ 'arabic-font': isArabic }"
>
  <div class="container d-flex align-items-center">
    <a class="logo me-auto" [routerLink]="'/'">
      <img src="assets/img/logoMarketing.png" alt="" class="img-fluid" />
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <!-- Only show full navbar items when 'showFullNavbar' is true -->
        <li *ngIf="showFullNavbar">
          <a class="nav-link active" (click)="scrollTo('hero')">
            {{ "Home" | translate }}
          </a>
        </li>
        <li *ngIf="showFullNavbar">
          <a class="nav-link" (click)="scrollTo('about')">
            {{ "about-us" | translate }}
          </a>
        </li>
        <li *ngIf="showFullNavbar">
          <a class="nav-link" (click)="scrollTo('service')">
            {{ "service" | translate }}
          </a>
        </li>
        <li *ngIf="showFullNavbar">
          <a class="nav-link" (click)="scrollTo('pricing')">
            {{ "pricing" | translate }}
          </a>
        </li>
        <li *ngIf="showFullNavbar">
          <a class="nav-link" (click)="scrollTo('team')">
            {{ "team" | translate }}
          </a>
        </li>
        <li *ngIf="showFullNavbar">
          <a class="nav-link" (click)="scrollTo('contact')">
            {{ "contact-us" | translate }}
          </a>
        </li>
      </ul>
    </nav>
    <nav class="navbar2">
      <ul style="float: left">
        <li>
          <div class="container2" style="zoom: 20%; padding-left: 100px">
            <input
              hidden
              id="check"
              name="check"
              type="checkbox"
              (click)="switchLanguage()"
            />
            <label class="toggle" for="check">
              <div class="toggle__circle"></div>
            </label>
            <div class="toggle-text">
              <span style="padding-left: 20px; zoom: 75%"> AR</span>
              <span
                style="
                  padding-left: 20px;
                  zoom: 75%;
                  position: absolute;
                  bottom: 0;
                "
              >
                EN</span
              >
            </div>
          </div>
        </li>
        <li>
          <button (click)="openWhatsApp()" class="getstarted">
            {{ "get-started" | translate }}
          </button>
        </li>
      </ul>
    </nav>
    <i
      *ngIf="showFullNavbar"
      class="bi bi-list mobile-nav-toggle"
      style="padding-left: 2%"
      (click)="toggleNavbar()"
    ></i>
  </div>
</header>
<div [ngClass]="{ 'arabic-font': isArabic }">
  <router-outlet></router-outlet>
</div>
