<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>{{ "team" | translate }}</h2>
      <p>{{ "team-text" | translate }}</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
          </div>
          <!-- [ngClass]="{
              'member-info': !isArabic,
              'member-info-arabic': isArabic
            }" -->
          <div
            [ngClass]="{
              'member-info': !isArabic,
              'member-info-arabic': isArabic
            }"
          >
            <h4>{{ "Badie-Zamen" | translate }}</h4>
            <span>{{ "Security-team" | translate }}</span>
            <p>
              {{ "Security-team-text-Badie" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="pic">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="" />
          </div>
          <div
            [ngClass]="{
              'member-info': !isArabic,
              'member-info-arabic': isArabic
            }"
          >
            <h4>{{ "Abd-jabar" | translate }}</h4>
            <span>{{ "General-Administration" | translate }}</span>
            <p>{{ "General-Administration-text" | translate }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="" />
          </div>
          <div
            [ngClass]="{
              'member-info': !isArabic,
              'member-info-arabic': isArabic
            }"
          >
            <h4>{{ "matouk" | translate }}</h4>
            <span>{{ "Marketing-Manager" | translate }}</span>
            <p>{{ "Marketing-Manager-text" | translate }}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="pic">
            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="" />
          </div>
          <div
            [ngClass]="{
              'member-info': !isArabic,
              'member-info-arabic': isArabic
            }"
          >
            <h4>{{ "nour-houda-jandoubi" | translate }}</h4>
            <span>{{ "Web-Development-Specialist" | translate }}</span>
            <p>{{ "Web-Development-Specialist-text" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img src="assets/img/team/team-5.jpg" class="img-fluid" alt="" />
          </div>
          <div
            [ngClass]="{
              'member-info': !isArabic,
              'member-info-arabic': isArabic
            }"
          >
            <h4>{{ "matouk" | translate }}</h4>
            <span>{{ "Marketing-Manager" | translate }}</span>
            <p>{{ "Marketing-Manager-text" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img src="assets/img/team/team-6.jpg" class="img-fluid" alt="" />
          </div>
          <div
            [ngClass]="{
              'member-info': !isArabic,
              'member-info-arabic': isArabic
            }"
          >
            <h4>{{ "matouk" | translate }}</h4>
            <span>{{ "Marketing-Manager" | translate }}</span>
            <p>{{ "Marketing-Manager-text" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Team Section -->
