.nav-link scrollto active {
  color: grey;
  border: 1px;
  border-color: black;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #7d277e;
  opacity: 0.7; /* Adjust the opacity as needed */
  filter: blur(5px); /* Adjust the blur level */
  z-index: -1; /* Ensure it stays behind the content */
}
li {
  cursor: pointer;
}
